<main>
  <header class="brand-name">
    <img class="brand-logo" src="../assets/logo.jpg" alt="Logo"/>
  </header>
  <section class="content">
    <button (click)="loadBlockedDomains()">Refresh Domains</button>
    <h4>Blocked Domains</h4>
    <table border="1" style="border-collapse: collapse;">
      <thead>
      <tr>
        <th>Domain</th>
        <th>Applied At</th>
        <th></th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let domain of domains">
        <td>{{ domain.domain }}</td>
        <td>{{domain.appliedAt}}</td>
        <td><button (click)="removeDomain(domain)">Remove</button></td>
      </tr>
      </tbody>
    </table>
    <p *ngIf="message">{{ message }}</p>
  </section>
</main>
